
@media only screen 
and (min-width: 100px) 
and (max-width: 250px) {
  .article {
    display: flex;
    justify-content: center;
    border-style: solid;
    border-width: 1px;
    border-color: rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
    box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 35rem;
    min-width: 30rem;
    max-height: 40rem;
    min-height: 35rem;
    margin-right: auto;
    margin-left: auto;
    height: 100%;
    width: 50%;
    position: relative;
  }

  .article > .formContainer {
    padding: 0;
    height: 0%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: rgba(0, 0, 0, 0.8);
    position: relative;
    top: 50%;
  }

  .measure {
    scale: 0.75;
  }

  .fieldset {
    margin-left: 0;
    margin-right: 0;
    padding: 0.35em 0 0.625em 0;
    border: 1px solid transparent;
    color: rgba(0, 0, 0, 0.8);
  }

  .inputs {
    display: flex;
    flex-flow: column nowrap;
    position: relative;
  }

  .register {
    font-size: 3rem;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.8);
    box-sizing: border-box;
    max-width: 100%;
    white-space: normal;
  }

  .nameNotice {
    min-width: 5vh;
    width: 100%;
    position: relative;
    left: 3%;
  }

  .emailNotice {
    min-width: 5vh;
    width: 96%;
    position: relative;
    left: 3%;
  }

  .passwordNotice {
    width: 100%;
  }

  .registerBtn {
    position: absolute;
    left: 35%;
    backface-visibility: hidden;
    transform: translateZ(0);
    transition: webkit-transform 0.25s ease-out;
    font-size: 1.2rem;
    font-family: inherit;
    line-height: 1.15;
    margin: 0;
    padding: 0.5rem 1rem 0.5rem 1rem;
    background-color: initial;
    -webkit-appearance: none;
    -moz-appearance: none;
    font-weight: 700;
    display: inline-block;
    border: 1px solid #000;
    -webkit-appearance: button;
  }

  .registerBtnOK {
    box-shadow: 0.3rem 0.3rem 1rem #f6f8f8, -2px -2px 1rem #eefa43;
  }
}

@media only screen 
and (min-width: 251px) 
and (max-width: 499px) {
  .article {
    display: flex;
    justify-content: center;
    border-style: solid;
    border-width: 1px;
    border-color: rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
    box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 35rem;
    min-width: 30rem;
    max-height: 40rem;
    min-height: 35rem;
    margin-right: auto;
    margin-left: auto;
    height: 100%;
    width: 50%;
    position: relative;
  }

  .article > .formContainer {
    padding: 0;
    height: 0%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: rgba(0, 0, 0, 0.8);
    position: relative;
    top: 50%;
  }

  .measure {
    scale: 0.75;
  }

  .fieldset {
    margin-left: 0;
    margin-right: 0;
    padding: 0.35em 0 0.625em 0;
    border: 1px solid transparent;
    color: rgba(0, 0, 0, 0.8);
  }

  .inputs {
    display: flex;
    flex-flow: column nowrap;
    position: relative;
  }

  .register {
    font-size: 3rem;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.8);
    box-sizing: border-box;
    max-width: 100%;
    white-space: normal;
  }

  .nameNotice {
    min-width: 5vh;
    width: 100%;
    position: relative;
    left: 3%;
  }

  .emailNotice {
    min-width: 5vh;
    width: 96%;
    position: relative;
    left: 3%;
  }

  .passwordNotice {
    width: 100%;
  }

  .registerBtn {
    position: absolute;
    left: 35%;
    backface-visibility: hidden;
    transform: translateZ(0);
    transition: webkit-transform 0.25s ease-out;
    font-size: 1.2rem;
    font-family: inherit;
    line-height: 1.15;
    margin: 0;
    padding: 0.5rem 1rem 0.5rem 1rem;
    background-color: initial;
    -webkit-appearance: none;
    -moz-appearance: none;
    font-weight: 700;
    display: inline-block;
    border: 1px solid #000;
    -webkit-appearance: button;
  }

  .registerBtnOK {
    box-shadow: 0.3rem 0.3rem 1rem #f6f8f8, -2px -2px 1rem #eefa43;
  }
}

@media only screen 
and (min-width: 500px) 
and (max-width: 799px) {
  .container {
    padding-inline: 10% 10%;
  }

  .article {
    display: flex;
    justify-content: center;
    border-style: solid;
    border-width: 1px;
    border-color: rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
    box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 35rem;
    min-width: 30rem;
    max-height: 40rem;
    min-height: 35rem;
    margin-right: auto;
    margin-left: auto;
    height: 100%;
    width: 50%;
    position: absolute;
    top: 10%;
  }

  .article > .formContainer {
    padding: 0;
    height: 0%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: rgba(0, 0, 0, 0.8);
    position: inherit;
    top: 50%;
  }

  .formContainer > .measure {
    scale: 0.75;
  }

  .measure > .fieldset {
    margin-left: 0;
    margin-right: 0;
    padding: 0.35em 0 0.625em 0;
    border: 1px solid transparent;
    color: rgba(0, 0, 0, 0.8);
  }

  .fieldset > .register {
    font-size: 3rem;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.8);
    box-sizing: border-box;
    max-width: 100%;
    white-space: normal;
  }

  .register > .inputs {
    display: flex;
    flex-flow: column nowrap;
    position: inherit;
  }

  .nameNotice {
    min-width: 5vh;
    width: 100%;
    position: relative;
    left: 3%;
  }

  .emailNotice {
    min-width: 5vh;
    width: 96%;
    position: relative;
    left: 3%;
  }

  .passwordNotice {
    width: 100%;
  }

  .registerBtn {
    position: absolute;
    left: 35%;
    backface-visibility: hidden;
    transform: translateZ(0);
    transition: webkit-transform 0.25s ease-out;
    font-size: 1.2rem;
    font-family: inherit;
    line-height: 1.15;
    margin: 0;
    padding: 0.5rem 1rem 0.5rem 1rem;
    background-color: initial;
    -webkit-appearance: none;
    -moz-appearance: none;
    font-weight: 700;
    display: inline-block;
    border: 1px solid #000;
    -webkit-appearance: button;
  }

  .registerBtnOK {
    box-shadow: 0.3rem 0.3rem 1rem #f6f8f8, -2px -2px 1rem #eefa43;
  }
}

@media only screen 
and (min-width: 800px) 
and (max-width: 1199px) {
  .article {
    display: flex;
    justify-content: center;
    border-style: solid;
    border-width: 1px;
    border-color: rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
    box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 35rem;
    min-width: 30rem;
    max-height: 40rem;
    min-height: 35rem;
    margin-right: auto;
    margin-left: auto;
    height: 100%;
    width: 50%;
    position: relative;
  }

  .article > .formContainer {
    padding: 0;
    height: 0%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: rgba(0, 0, 0, 0.8);
    position: relative;
    top: 50%;
  }

  .measure {
    scale: 0.75;
  }

  .fieldset {
    margin-left: 0;
    margin-right: 0;
    padding: 0.35em 0 0.625em 0;
    border: 1px solid transparent;
    color: rgba(0, 0, 0, 0.8);
  }

  .inputs {
    display: flex;
    flex-flow: column nowrap;
    position: relative;
  }

  .register {
    font-size: 3rem;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.8);
    box-sizing: border-box;
    max-width: 100%;
    white-space: normal;
  }

  .nameNotice {
    min-width: 5vh;
    width: 100%;
    position: relative;
    left: 3%;
  }

  .emailNotice {
    min-width: 5vh;
    width: 96%;
    position: relative;
    left: 3%;
  }

  .passwordNotice {
    width: 100%;
  }

  .registerBtn {
    position: absolute;
    left: 35%;
    backface-visibility: hidden;
    transform: translateZ(0);
    transition: webkit-transform 0.25s ease-out;
    font-size: 1.2rem;
    font-family: inherit;
    line-height: 1.15;
    margin: 0;
    padding: 0.5rem 1rem 0.5rem 1rem;
    background-color: initial;
    -webkit-appearance: none;
    -moz-appearance: none;
    font-weight: 700;
    display: inline-block;
    border: 1px solid #000;
    -webkit-appearance: button;
  }

  .registerBtnOK {
    box-shadow: 0.3rem 0.3rem 1rem #f6f8f8, -2px -2px 1rem #eefa43;
  }
}

@media only screen 
and (min-width: 1200px) 
and (max-width: 1679px) {
  .article {
    display: flex;
    justify-content: center;
    border-style: solid;
    border-width: 1px;
    border-color: rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
    box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 35rem;
    min-width: 30rem;
    max-height: 40rem;
    min-height: 35rem;
    margin-right: auto;
    margin-left: auto;
    height: 100%;
    width: 50%;
    position: relative;
  }

  .article > .formContainer {
    padding: 0;
    height: 0%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: rgba(0, 0, 0, 0.8);
    position: relative;
    top: 50%;
  }

  .measure {
    scale: 0.75;
  }

  .fieldset {
    margin-left: 0;
    margin-right: 0;
    padding: 0.35em 0 0.625em 0;
    border: 1px solid transparent;
    color: rgba(0, 0, 0, 0.8);
  }

  .inputs {
    display: flex;
    flex-flow: column nowrap;
    position: relative;
  }

  .register {
    font-size: 3rem;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.8);
    box-sizing: border-box;
    max-width: 100%;
    white-space: normal;
  }

  .nameNotice {
    min-width: 5vh;
    width: 100%;
    position: relative;
    left: 3%;
  }

  .emailNotice {
    min-width: 5vh;
    width: 96%;
    position: relative;
    left: 3%;
  }

  .passwordNotice {
    width: 100%;
  }

  .registerBtn {
    position: absolute;
    left: 35%;
    backface-visibility: hidden;
    transform: translateZ(0);
    transition: webkit-transform 0.25s ease-out;
    font-size: 1.2rem;
    font-family: inherit;
    line-height: 1.15;
    margin: 0;
    padding: 0.5rem 1rem 0.5rem 1rem;
    background-color: initial;
    -webkit-appearance: none;
    -moz-appearance: none;
    font-weight: 700;
    display: inline-block;
    border: 1px solid #000;
    -webkit-appearance: button;
  }

  .registerBtnOK {
    box-shadow: 0.3rem 0.3rem 1rem #f6f8f8, -2px -2px 1rem #eefa43;
  }
}

@media only screen 
and (min-width: 1680px) {

  .article {
    display: flex;
    justify-content: center;
    border-style: solid;
    border-width: 1px;
    border-color: rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
    box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 42rem;
    min-width: 40rem;
    max-height: 85rem;
    min-height: 85rem;
    margin-right: auto;
    margin-left: auto;
    height: 100%;
    width: 50%;
    position: absolute;
    top: 10%;
    left: 58%;
  }

  .article > .formContainer {
    padding: 0;
    height: 0%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: rgba(0, 0, 0, 0.8);
    position: relative;
    top: 50%;
  }

  .measure {
    scale: 1.3;
  }

  .fieldset {
    margin-left: 0;
    margin-right: 0;
    padding: 0.35em 0 0.625em 0;
    border: 1px solid transparent;
    color: rgba(0, 0, 0, 0.8);
  }

  .inputs {
    display: flex;
    flex-flow: column nowrap;
    position: relative;
  }

  .register {
    font-size: 3rem;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.8);
    box-sizing: border-box;
    max-width: 100%;
    white-space: normal;
  }

  .nameNotice {
    min-width: 5vh;
    width: 100%;
    position: relative;
    left: 3%;
  }

  .emailNotice {
    min-width: 5vh;
    width: 96%;
    position: relative;
    left: 3%;
  }

  .passwordNotice {
    width: 100%;
  }

  .registerBtn {
    position: absolute;
    left: 35%;
    backface-visibility: hidden;
    transform: translateZ(0);
    transition: webkit-transform 0.25s ease-out;
    font-size: 1.2rem;
    font-family: inherit;
    line-height: 1.15;
    margin: 0;
    padding: 0.5rem 1rem 0.5rem 1rem;
    background-color: initial;
    -webkit-appearance: none;
    -moz-appearance: none;
    font-weight: 700;
    display: inline-block;
    border: 1px solid #000;
    -webkit-appearance: button;
  }

  .registerBtnOK {
    box-shadow: 0.3rem 0.3rem 1rem #f6f8f8, -2px -2px 1rem #eefa43;
  }
}
