@media only screen 
and (min-width: 100px) 
and (max-width: 250px) {
    .passwordContainer {
        display: flex;
        flex-direction: column;
    }
    
    .passwordLabel {
        position: relative;
    }
    
    .passwordLabelInner {
        display: block;
        font-weight: 600;
        line-height: 1.5;
        font-size: 1.5rem;
    }
    
    .passwordSubContainer {
        display: flex;
        padding-left: 6em;
        position: relative;
        margin-top: 0.5vh;
    }

    .passwordInputContainer {
        box-sizing: border-box;
        position: relative;
        min-width: 8.5rem;
        max-width: 8.5rem;
        width: 100%;
    }

    .passwordInputInner {
        box-sizing: border-box;
        position: relative;
        font-weight: bold;
        padding: 0.5rem;
        border-style: solid;
        border-width: 1px;
        background-color: var(--transparent); 
        width: 100%; 
        min-width: 8.5rem;
        max-width: 8.5rem;
    }
    
    .password12CharContainer {
        display: flex;
        flex-flow: row nowrap;
        position: relative;
    }
    
    .password12CharIcon {
        height: 2.5vh;
        width: 2.5vh;
        align-self: center;
    }
    
    .password12CharInput {
        align-self: center;
    }

    .passwordInputInner:hover {
        background-color: black;
        color: white;
    }
    
    .password12CharInput > .password12CharInputInner {
        display: flex;
        width: 100%;
        min-width: 5rem;
        max-width: 5rem;
        height: 100%;
        min-height: 1.5rem;
        max-height: 1.5rem;
    }
}

@media only screen 
and (min-width: 251px) 
and (max-width: 499px) {
    .passwordContainer {
        display: flex;
        flex-direction: column;
    }
    
    .passwordLabel {
        position: relative;
    }
    
    .passwordLabelInner {
        display: block;
        font-weight: 600;
        line-height: 1.5;
        font-size: 1.5rem;
    }
    
    .passwordSubContainer {
        display: flex;
        padding-left: 6em;
        position: relative;
        margin-top: 0.5vh;
    }

    .passwordInputContainer {
        box-sizing: border-box;
        position: relative;
        min-width: 8.5rem;
        max-width: 8.5rem;
        width: 100%;
    }

    .passwordInputInner {
        box-sizing: border-box;
        position: relative;
        font-weight: bold;
        padding: 0.5rem;
        border-style: solid;
        border-width: 1px;
        background-color: var(--transparent); 
        width: 100%; 
        min-width: 8.5rem;
        max-width: 8.5rem;
    }
    
    .password12CharContainer {
        display: flex;
        flex-flow: row nowrap;
        position: relative;
    }
    
    .password12CharIcon {
        height: 2.5vh;
        width: 2.5vh;
        align-self: center;
    }
    
    .password12CharInput {
        align-self: center;
    }

    .passwordInputInner:hover {
        background-color: black;
        color: white;
    }
    
    .password12CharInput > .password12CharInputInner {
        display: flex;
        width: 100%;
        min-width: 5rem;
        max-width: 5rem;
        height: 100%;
        min-height: 1.5rem;
        max-height: 1.5rem;
    }
}

@media only screen 
and (min-width: 500px) 
and (max-width: 799px) {
    .passwordContainer {
        display: flex;
        flex-direction: column;
    }
    
    .passwordLabel {
        position: relative;
    }
    
    .passwordLabelInner {
        display: block;
        font-weight: 600;
        line-height: 1.5;
        font-size: 1.5rem;
    }
    
    .passwordSubContainer {
        display: flex;
        padding-left: 6em;
        position: relative;
        margin-top: 0.5vh;
    }

    .passwordInputContainer {
        box-sizing: border-box;
        position: relative;
        min-width: 8.5rem;
        max-width: 8.5rem;
        width: 100%;
    }

    .passwordInputInner {
        box-sizing: border-box;
        position: relative;
        font-weight: bold;
        padding: 0.5rem;
        border-style: solid;
        border-width: 1px;
        background-color: var(--transparent); 
        width: 100%; 
        min-width: 8.5rem;
        max-width: 8.5rem;
    }
    
    .password12CharContainer {
        display: flex;
        flex-flow: row nowrap;
        position: relative;
    }
    
    .password12CharIcon {
        height: 2.5vh;
        width: 2.5vh;
        align-self: center;
    }
    
    .password12CharInput {
        align-self: center;
    }

    .passwordInputInner:hover {
        background-color: black;
        color: white;
    }
    
    .password12CharInput > .password12CharInputInner {
        display: flex;
        width: 100%;
        min-width: 5rem;
        max-width: 5rem;
        height: 100%;
        min-height: 1.5rem;
        max-height: 1.5rem;
    }
}

@media only screen 
and (min-width: 800px) 
and (max-width: 1199px) {
    .passwordContainer {
        display: flex;
        flex-direction: column;
    }
    
    .passwordLabel {
        position: relative;
    }
    
    .passwordLabelInner {
        display: block;
        font-weight: 600;
        line-height: 1.5;
        font-size: 1.5rem;
    }
    
    .passwordSubContainer {
        display: flex;
        padding-left: 6em;
        position: relative;
        margin-top: 0.5vh;
    }

    .passwordInputContainer {
        box-sizing: border-box;
        position: relative;
        min-width: 8.5rem;
        max-width: 8.5rem;
        width: 100%;
    }

    .passwordInputInner {
        box-sizing: border-box;
        position: relative;
        font-weight: bold;
        padding: 0.5rem;
        border-style: solid;
        border-width: 1px;
        background-color: var(--transparent); 
        width: 100%; 
        min-width: 8.5rem;
        max-width: 8.5rem;
    }
    
    .password12CharContainer {
        display: flex;
        flex-flow: row nowrap;
        position: relative;
    }
    
    .password12CharIcon {
        height: 2.5vh;
        width: 2.5vh;
        align-self: center;
    }
    
    .password12CharInput {
        align-self: center;
    }

    .passwordInputInner:hover {
        background-color: black;
        color: white;
    }
    
    .password12CharInput > .password12CharInputInner {
        display: flex;
        width: 100%;
        min-width: 5rem;
        max-width: 5rem;
        height: 100%;
        min-height: 1.5rem;
        max-height: 1.5rem;
    }
}

@media only screen 
and (min-width: 1200px) 
and (max-width: 1679px) {
    .passwordContainer {
        display: flex;
        flex-direction: column;
    }
    
    .passwordLabel {
        position: relative;
    }
    
    .passwordLabelInner {
        display: block;
        font-weight: 600;
        line-height: 1.5;
        font-size: 1.5rem;
    }
    
    .passwordSubContainer {
        display: flex;
        padding-left: 6em;
        position: relative;
        margin-top: 0.5vh;
    }

    .passwordInputContainer {
        box-sizing: border-box;
        position: relative;
        min-width: 8.5rem;
        max-width: 8.5rem;
        width: 100%;
    }

    .passwordInputInner {
        box-sizing: border-box;
        position: relative;
        font-weight: bold;
        padding: 0.5rem;
        border-style: solid;
        border-width: 1px;
        background-color: var(--transparent); 
        width: 100%; 
        min-width: 8.5rem;
        max-width: 8.5rem;
    }
    
    .password12CharContainer {
        display: flex;
        flex-flow: row nowrap;
        position: relative;
    }
    
    .password12CharIcon {
        height: 2.5vh;
        width: 2.5vh;
        align-self: center;
    }
    
    .password12CharInput {
        align-self: center;
    }

    .passwordInputInner:hover {
        background-color: black;
        color: white;
    }
    
    .password12CharInput > .password12CharInputInner {
        display: flex;
        width: 100%;
        min-width: 5rem;
        max-width: 5rem;
        height: 100%;
        min-height: 1.5rem;
        max-height: 1.5rem;
    }
}

@media only screen 
and (min-width: 1680px) 
and (max-width: 3839px) {
    .passwordContainer {
        display: flex;
        flex-direction: column;
    }
    
    .passwordLabel {
        position: relative;
    }
    
    .passwordLabelInner {
        display: block;
        font-weight: 600;
        line-height: 1.5;
        font-size: 1.5rem;
    }
    
    .passwordSubContainer {
        display: flex;
        padding-left: 6em;
        position: relative;
        margin-top: 0.5vh;
    }

    .passwordInputContainer {
        box-sizing: border-box;
        position: relative;
        min-width: 8.5rem;
        max-width: 8.5rem;
        width: 100%;
    }

    .passwordInputInner {
        box-sizing: border-box;
        position: relative;
        font-weight: bold;
        padding: 0.5rem;
        border-style: solid;
        border-width: 1px;
        background-color: var(--transparent); 
        width: 100%; 
        min-width: 8.5rem;
        max-width: 8.5rem;
    }
    
    .password12CharContainer {
        display: flex;
        flex-flow: row nowrap;
        position: relative;
    }
    
    .password12CharIcon {
        height: 2.5vh;
        width: 2.5vh;
        align-self: center;
    }
    
    .password12CharInput {
        align-self: center;
    }

    .passwordInputInner:hover {
        background-color: black;
        color: white;
    }
    
    .password12CharInput > .password12CharInputInner {
        display: flex;
        width: 100%;
        min-width: 5rem;
        max-width: 5rem;
        height: 100%;
        min-height: 1.5rem;
        max-height: 1.5rem;
    }
}

/* ///////////////// */
.passwordContainer {
    display: flex;
    flex-direction: column;
}

.passwordLabel {
    position: relative;
}

.passwordLabelInner {
    display: block;
    font-weight: 600;
    line-height: 1.5;
    font-size: 1.5rem;
}

.passwordSubContainer {
    display: flex;
    padding-left: 6em;
    position: relative;
    margin-top: 0.5vh;
}

.passwordInputContainer {
    box-sizing: border-box;
    position: relative;
    min-width: 8.5rem;
    max-width: 8.5rem;
    width: 100%;
}

.passwordInputInner {
    box-sizing: border-box;
    position: relative;
    font-weight: bold;
    padding: 0.5rem;
    border-style: solid;
    border-width: 1px;
    background-color: var(--transparent); 
    width: 100%; 
    min-width: 8.5rem;
    max-width: 8.5rem;
}

.password12CharContainer {
    display: flex;
    flex-flow: row nowrap;
    position: relative;
}

.password12CharIcon {
    height: 2.5vh;
    width: 2.5vh;
    align-self: center;
}

.password12CharInput {
    align-self: center;
}

.passwordInputInner:hover {
    background-color: black;
    color: white;
}

.password12CharInput > .password12CharInputInner {
    display: flex;
    width: 100%;
    min-width: 5rem;
    max-width: 5rem;
    height: 100%;
    min-height: 1.5rem;
    max-height: 1.5rem;
}