@media only screen 
and (min-width: 100px) 
and (max-width: 250px) {
    .emailContainer {
        display: flex;
        flex-direction: column;
    }
    
    .emailLabel {
        display: flex;
        justify-content: center;
        position: relative;
    }
    
    .emailLabelInner {
        display: block;
        font-weight: 700;
        line-height: 1.5;
        font-size: 1.5rem;
    }
    
    .emailSubContainer {
        display: flex;
        flex-direction: row;
        padding-left: 6em;
        position: relative;
        left: 0%;
    }
    
    .emailInputInner {
        font-weight: bold;
        padding: 0.5rem;
        border-style: solid;
        border-width: 1px;
        background-color: var(--transparent);
        width: 100%;
        min-width: 8.5rem;
        max-width: 8.5rem;
    }
    
    .emailInputInner:hover {
        background-color: black;
        color: white;
    }
    
    .emailIconEmptyContainer {
        display: flex;
    }
    
    .emailIconEmptyContainer .emailIcon {
        display: flex;
        height: 2.5vh;
        width: 2.5vh;
        align-self: center;
    }
}

@media only screen 
and (min-width: 251px) 
and (max-width: 499px) {
    .emailContainer {
        display: flex;
        flex-direction: column;
    }
    
    .emailLabel {
        display: flex;
        justify-content: center;
        position: relative;
    }
    
    .emailLabelInner {
        display: block;
        font-weight: 700;
        line-height: 1.5;
        font-size: 1.5rem;
    }
    
    .emailSubContainer {
        display: flex;
        flex-direction: row;
        padding-left: 6em;
        position: relative;
        left: 0%;
    }
    
    .emailInputInner {
        font-weight: bold;
        padding: 0.5rem;
        border-style: solid;
        border-width: 1px;
        background-color: var(--transparent);
        width: 100%;
        min-width: 8.5rem;
        max-width: 8.5rem;
    }
    
    .emailInputInner:hover {
        background-color: black;
        color: white;
    }
    
    .emailIconEmptyContainer {
        display: flex;
    }
    
    .emailIconEmptyContainer .emailIcon {
        display: flex;
        height: 2.5vh;
        width: 2.5vh;
        align-self: center;
    }
}

@media only screen 
and (min-width: 500px) 
and (max-width: 799px) {
        .emailContainer {
            display: flex;
            flex-direction: column;
        }
        
        .emailLabelInner {
            font-weight: 700;
            line-height: 1.5;
            font-size: 1.5rem;
        }
        
        .emailSubContainer {
            display: flex;
            padding-left: 6em;
        }
        
        .emailInputInner {
            font-weight: bold;
            padding: 0.5rem;
            border-style: solid;
            border-width: 1px;
            background-color: var(--transparent);
            width: 100%;
            min-width: 8.5rem;
            max-width: 8.5rem;
        }
        
        .emailInputInner:hover {
            background-color: black;
            color: white;
        }
        
        .emailIconEmptyContainer {
            display: flex;
        }
        
        .emailIconEmptyContainer > .emailIcon {
            width: 2.5vh;
            align-self: center;
        }

        .emailIcon > .emailIconInner {
            max-width: 100%;
            border-style: none;
            overflow-clip-margin: content-box;
            overflow: clip;
        }
    }

@media only screen 
and (min-width: 800px) 
and (max-width: 1199px) {
    .emailContainer {
        display: flex;
        flex-direction: column;
    }
    
    .emailLabel {
        display: flex;
        justify-content: center;
        position: relative;
    }
    
    .emailLabelInner {
        display: block;
        font-weight: 700;
        line-height: 1.5;
        font-size: 1.5rem;
    }
    
    .emailSubContainer {
        display: flex;
        flex-direction: row;
        padding-left: 6em;
        position: relative;
        left: 0%;
    }
    
    .emailInputInner {
        font-weight: bold;
        padding: 0.5rem;
        border-style: solid;
        border-width: 1px;
        background-color: var(--transparent);
        width: 100%;
        min-width: 8.5rem;
        max-width: 8.5rem;
    }
    
    .emailInputInner:hover {
        background-color: black;
        color: white;
    }
    
    .emailIconEmptyContainer {
        display: flex;
    }
    
    .emailIconEmptyContainer .emailIcon {
        display: flex;
        height: 2.5vh;
        width: 2.5vh;
        align-self: center;
    }
}

@media only screen 
and (min-width: 1200px) 
and (max-width: 1679px) {
    .emailContainer {
        display: flex;
        flex-direction: column;
    }
    
    .emailLabel {
        display: flex;
        justify-content: center;
        position: relative;
    }
    
    .emailLabelInner {
        display: block;
        font-weight: 700;
        line-height: 1.5;
        font-size: 1.5rem;
    }
    
    .emailSubContainer {
        display: flex;
        flex-direction: row;
        padding-left: 6em;
        position: relative;
        left: 0%;
    }
    
    .emailInputInner {
        font-weight: bold;
        padding: 0.5rem;
        border-style: solid;
        border-width: 1px;
        background-color: var(--transparent);
        width: 100%;
        min-width: 8.5rem;
        max-width: 8.5rem;
    }
    
    .emailInputInner:hover {
        background-color: black;
        color: white;
    }
    
    .emailIconEmptyContainer {
        display: flex;
    }
    
    .emailIconEmptyContainer .emailIcon {
        display: flex;
        height: 2.5vh;
        width: 2.5vh;
        align-self: center;
    }
}

@media only screen 
and (min-width: 1680px) 
and (max-width: 3839px) {
    .emailContainer {
        display: flex;
        flex-direction: column;
    }
    
    .emailLabel {
        display: flex;
        justify-content: center;
        position: relative;
    }
    
    .emailLabelInner {
        display: block;
        font-weight: 700;
        line-height: 1.5;
        font-size: 1.5rem;
    }
    
    .emailSubContainer {
        display: flex;
        flex-direction: row;
        padding-left: 6em;
        position: relative;
        left: 0%;
    }
    
    .emailInputInner {
        font-weight: bold;
        padding: 0.5rem;
        border-style: solid;
        border-width: 1px;
        background-color: var(--transparent);
        width: 100%;
        min-width: 8.5rem;
        max-width: 8.5rem;
    }
    
    .emailInputInner:hover {
        background-color: black;
        color: white;
    }
    
    .emailIconEmptyContainer {
        display: flex;
    }
    
    .emailIconEmptyContainer .emailIcon {
        display: flex;
        height: 2.5vh;
        width: 2.5vh;
        align-self: center;
    }
}

/* ///////////////// */
.emailContainer {
    display: flex;
    flex-direction: column;
}

.emailLabelInner {
    font-weight: 700;
    line-height: 1.5;
    font-size: 1.5rem;
}

.emailSubContainer {
    display: flex;
    padding-left: 6em;
}

.emailInputInner {
    font-weight: bold;
    padding: 0.5rem;
    border-style: solid;
    border-width: 1px;
    background-color: var(--transparent);
    width: 100%;
    min-width: 8.5rem;
    max-width: 8.5rem;
}

.emailInputInner:hover {
    background-color: black;
    color: white;
}

.emailIconEmptyContainer {
    display: flex;
}

.emailIconEmptyContainer > .emailIcon {
    width: 2.5vh;
    align-self: center;
}

.emailIcon > .emailIconInner {
    max-width: 100%;
    border-style: none;
    overflow-clip-margin: content-box;
    overflow: clip;
}
